.navBar{
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    background: navy;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navBar img{
    height: 45px;
}
.navBar a{
    color: white;
    text-decoration: none;
    font-family: Impact;
}
.navBar a:hover{
    color: #8265A7;
}
.formContainter h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: -2px 2px 0px orange;
    -webkit-text-stroke: .1px black;
    text-align: center;
}
html{
    background: url('planBackground.jpeg') no-repeat;
    background-size: cover;
}
.formContainter{
    padding-top: 5%;
}
.formField{
    display: flex;
    justify-content: center;
}
.formField p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: White;
    -webkit-text-stroke: .1px black;
    text-align: center;
    width: 15%;
}
.formField input{
    font-size: 15px;
    width: 20%;
    height: 30px;
    padding: 5px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-color: white;
    background: transparent;
    color: white;
}
.formField .placeholder{
    color: white;
}
.formField #select{
    font-size: 15px;
    width: 20%;
    height: 50px;
    padding: 5px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-color: white;
    background: transparent;
    color: white;
    background-color: black;
}
.btn{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 30px;
    width:10%;
    justify-content: center;
}
.btn:hover{
    background-color: orangered;
    color: white;
    scale: 1.1;
}
