@keyframes appear{
    from{
        opacity:0;
        transform: translateX(-100px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
#signUp{
    border-color: aliceblue;
    border-style: solid;
    padding: 7px;
    background-color:navy;
    color:white;
}
#signUp:hover{
    color:black;
    background-color: Orange;
    scale: 1.1;
}
#logIn{ 
    border-color: aliceblue;
    border-style: solid;
    padding: 7px;
    background-color:navy;
    color:white;
}
#logIn:hover{
    color:black;
    background-color: Orange;
    scale: 1.1;
}
.headerHome{
    background: url('homePageBackground.jpeg') no-repeat;
    width: 100%;
    height: 600px;
    text-align: center;
    top: 50px;
}
.headerHome .stylingHeader{
    width: 100%;
    background: transparent;
    height: 600px;
    border: 2px solid white;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px black;
    color: white;
}
.headerHome .stylingHeader h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: navy;
    text-shadow: -7px 7px 0px orange;
    -webkit-text-stroke: .3px black;
    padding-top: 140px;
}
.headerHome .stylingHeader p{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navBar{
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    background: navy;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navBar img{
    height: 45px;
}
.navBar a{
    color: white;
    text-decoration: none;
    font-family: Impact;
}
.navBar a:hover{
    color: #8265A7;
}
.introduction{
    text-align: center;
    padding: 50px;
    background-color: whitesmoke;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.introduction p{
    padding-bottom: 30px;
    padding-top: 5px;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.footerHome{
    background-color: rgb(32, 4, 79);
}
.footerHome table{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.footerHome .instagramIcon{
    width: 29px;
    text-align: center;
}
.footerHome .emailIcon{
    width: 52px;
    padding: 20px;
}
.footerHome .phoneIcon{
    width: 30px;
    padding: 20px;
}
.footerHome .locationIcon{
    width: 29px;
    padding: 20px;
}
.cardContainer{
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 80px;
}
.card{
    width: 325px;
    background-color:white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px orange;
    margin: 20px;
    transition: transform 0.6s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.card:hover{
    transform: translateY(-10px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cardContent{
    padding: 20px;
}
.cardContent h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.cardContent p{
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
}
.cardButton{
    display: inline-block;
    background-color:orange;
    color:black;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
    justify-content: center;
}
.cardButton:hover{
    background-color: black;
    color:orange;
    scale: 1.2;
}
.moreButton {
    display: flex;
    text-align: center;
    width: 100px;
}


section h1{
    color: black;
    text-shadow: -2px 2px 0px orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}



.usingOptions table{
    display: flex;
    background-color:white;
    justify-content:space-between;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 10rem auto;
    width: 100%;
}
.usingOptions img{
    height: 600px;
    border-radius:30px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.usingOptions .text{
    padding-right:40px;
    padding-left: 40px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.usingOptions .text p{
    font-size: 30px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}





footer{
    background-color:black;
}
.footerContainer{
    width: 100%;
    padding: 30px 30px 20px;
    justify-content: center;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #44318D;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: black;
    transition: 0.7s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3 em;
    opacity: 0.7;
    transition: 0.5s;
    text-align: center;
}
.footerNav ul li a:hover{
    opacity: 1; 
}
.footerBottom{
    background-color:black;
}
.footerBottom p{
    color: white;
    text-align: center;
    padding: 30px;
}
.dropdown button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 50px;
}
#avatar:hover{
    background-color: white;
    border-radius: 50%;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
}